
input[type="file"] {
  display: none;
}

.button-Upload{
  text-align: center;
  
}
.Button-Upload-Margin{
  /* margin-top: 20px; */
  margin: 20px 0px 20px 0px;
}
.Position-Img{
 
  text-align: center;

}
.Position-Img-Dectect{
  text-align: center;
  /* margin: 0px 20px 20px 20px; */
}

.Gallery{
  /* margin: 20px; */
  margin: 20px ;
  /* border: 2px solid #000 ; */
  float: left;
  width: 350px;
}

.Text-Count{
  font-family: "THSARABUN";
  font-size: 30px;
  background: rgb(24, 155, 6);
  /* margin: auto; */
  color: white;
  width: auto;
  padding: 10px;
  background-color: blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}


.Show-Image{
  
  width: 400px;
  height: 400px;
  margin: 0px 20px 20px 20px;
  border-radius: 10px;
}

.Show-Image-Dectect{
  width: 100%;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* .result{
  justify-content: center;
  text-align: center;
} */

.Header{
  font-family: "THSARABUN";
  font-size: 50px;
  text-align: center;
  
  /* width: auto; */
  color: white;
  background: rgb(46, 79, 224);
}